RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.vazumrocks.com [NC]
RewriteRule ^(.*)$ https://vazumrocks.com/$1 [L,R=301]