.music-page h1 {
    padding-right: 50vw;
}
.rip-up.black {
    background-image: url("../images/bg/black-rip-up.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: calc(100% - 10px);
    left: 0;
    right: 0;
    height: 100px;
}
.black {
    color: white;
}
.callout {
    font-size: 1.3em;
}
#album-promo .flex-container{
    align-items: flex-start;
}
@media screen and (min-width: 650px) {

#album-promo .flex-container > div{
    flex: 1;
}
}
.yt-video {
    overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.yt-video iframe {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#music-cta {
    background-color: white;
    color: black;
}
#music-cta .flex-container a {
    flex: 0 1 200px;
    text-align: center;
    padding: 1em;
}

#music-cta h2 {
    color: black;
    text-align: center;
}

#bio p{
    text-align: left;
}
.show-list {
    padding: 2em 1em;
    font-size: 1.2em;
}

.show-list li {
    padding: 0.5em 2em;
    margin-bottom: 0.25em;
}

.show-list .active .get-tickets {
    display: table;
    margin: 0.5em auto 0 auto;
}
.show-list li .title {
    text-align: center;
    display: block;
}

.show-list li .date {
    display: block;
    text-align: center;
    font-size: 1.5em;
}

.show-list li .get-tickets {
    display: none;
}

.show-list .active {
    background-color: #00a5a9;
}

.button {
    display: inline-block;
    padding: 0.25em 0.5em;
    border: 4px solid white;
    color: white;
    font-family: 'Cantarell', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

@media screen and (min-width: 750px) {

    .show-list li .date {
        display: inline-block;
        width: 5em;
    }
    .show-list li .get-tickets {
        margin-left: 1em;
        display: none;
    }
    .show-list li .title {
        display: inline-block;
    }
    .show-list .active .get-tickets {
        display: inline-block;
        margin: 0 0 0 2em;
    }
}